FlexboxLayout {
  justify-content: center;
  align-items: center;
}
StackLayout {
  width: 300;
  padding: 10 16;
  background-color: white;
}
Image {
  margin-bottom: 20;
}
Button, TextField {
  margin-bottom: 10;
}
.btn-primary {
  background-color: #CB1D00;
}