@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}
.list-page {
  background-image: url("res://bg_inner");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ActionBar {
  background-color: black;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.line-through {
  text-decoration: line-through;
}