@import url('~/platform.css');

action-bar {
	color: white;
}
page {
	background-color: white;
	font-size: 17;
}
text-field {
	margin: 10;
	padding: 10;
}
image {
	margin-top: 20;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 80;
}
button {
	margin: 10;
	padding: 10;
}