@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}
ActionBar {
  background-color: black;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}

/* Login */
#container {
  margin-top: 130;
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: white;
}
#logo {
  margin-top: 5;
  margin-bottom: 20;
}
.login-spacing {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
#submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}

/* List */
