button {
	border-width: 1;
	border-style: solid;
	border-color: #034793;
	border-radius: 2;
}
text-field {
	background-color: #FAFAFA;
	border-width: 1;
	border-style: solid;
	border-color: #C7C7CC;
	border-radius: 2;
}
.link {
	border-width: 0;
}
.main-color {
	background-color: #2664A2;
}

