
  FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("res://bg_login");
  }
  
  Image {
    margin-bottom: 20;
  }
  Button, TextField {
    margin-bottom: 10;
  }
  
  .btn-primary {
    background-color: #CB1D00;
    margin-left: 0;
    margin-right: 0;
  }

  .form {
    width: 300;
    padding: 10 16;
    background-color: white;
  }

  .dark {
    background-color: #301217;
  }

  .dark TextField {
    placeholder-color: #C4AFB4;
    color:  #C4AFB4;
  }
