.action-bar-custom {
  margin-top: 20;
  padding-top: 12;
}
.action-bar-label {
  horizontal-align: center;
}
.action-bar-menu-image {
  margin-top: 10;
  margin-left: 5;
}

.add-bar Image {
  margin-right: 14;
}
TextField {
  background-color: transparent;
  border-width: 0;
  color: white;
}

.grocery-list-item-container {
  padding-top: 13;
  padding-bottom: 13;
}