.action-bar-custom {
  color: white;
  margin-top: 26;
  margin-bottom: 16;
}
.action-bar-custom Label {
  font-size: 21;
  font-weight: bold;
}
.action-bar-custom StackLayout {
  height: 40;
  padding-left: 15;
  padding-right: 15;
  vertical-align: center;
  horizontal-align: center;
}

.add-bar {
  background-color: #CB1D00;
  padding-left: 16;
  padding-right: 16;
  height: 50;
}
.add-bar-image-container {
  height: 50;
  vertical-align: center;
  margin-left: -15;
  padding-left: 15;
  padding-right: 13;
}
.add-bar Image {
  height: 20;
}
TextField {
  color: white;
  background-color: transparent;
  font-size: 15;
  border-width: 0;
  padding: 0;
  margin-left: 1;
}
.add-bar-recent-label {
  vertical-align: center;
  color: #311217;
}
.add-bar-recent-container {
  height: 50;
  padding-left: 10;
  padding-right: 10;
  margin-right: -10;
  vertical-align: center;
}
.add-bar-recent-toggle {
  color: #311217;
}

ActivityIndicator {
  horizontal-align: center;
  vertical-align: center;
  color: white;
}
