/* Hide a bunch of things to setup the initial animation */
#container, #container-logo {
  visibility: collapse;
  opacity: 0;
}

#background {
  /*background-image: url("res://bg_login.jpg");*/
}

#initial-container {
  margin-top: 170;
}
#initial-logo {
  horizontal-align: center;
  margin-bottom: 10;
}
#initial-label {
  color: white;
  horizontal-align: center;
  font-size: 40;
  margin-bottom: 80;
}
#initial-button {
  background-color: white;
  color: #CB1D00;
  height: 45;
  width: 275;
  vertical-align: center;
}
#initial-button-label {
  horizontal-align: center;
  font-weight: bold;
}

#container {
  margin: 30;
  background-color: white;
}

button, text-field {
  margin-left: 16;
  margin-right: 16;
}
text-field {
  padding: 10;
  font-size: 13;
}

#main-label {
  horizontal-align: center;
  color: black;
}
#submit-button {
  background-color: #CB1D00;
  font-size: 15;
  color: white;
  margin-bottom: 15;

}
#forgot-password-label {
  font-size: 13;
  margin-left: 20;
  color: black;
}
#sign-up-stack {
  background-color: #311217;
}
#sign-up-label {
  color: white;
  horizontal-align: center;
  font-size: 15;
}
