.login-background {
  background-image: url("res://bg_login");
  animation-name: scale-down;
  animation-duration: 10;
}
@keyframes scale-down {
  from { transform: scale(1.6, 1.6); }
  to { transform: scale(1.2, 1.2); }
}
StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: white;
}
Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}