#groceryList {
	margin: 5;
	opacity: 0;
}
Label {
	margin: 10;
	horizontal-align: left;
	vertical-align: center;
}
TextField {
	border-width: 5;
	border-style: solid;
	border-color: #034793;
}
Image {
	margin: 10;
}
#drawerContent, StackLayout, #history {
	background-color: #F7F7F7;
}
.heading {
	text-decoration: underline;
	font-weight: bold;
	text-size: 14;
	border-bottom-width: 1;
}
.addButton {
	height: 30;
	margin-right: 0;
}
