<GridLayout rows="auto, *">
    <!--<TextField id="grocery" [text]="grocery" hint="Enter a grocery item" row="0" col="0"></TextField>
    <Button text="Add" (tap)="add()" row="0" col="1"></Button>-->

    <Label text="LIST" row="0"></Label>
    <ListView [items]="groceryList" row="1">
        <item-template>
            <template #item="item">
                <Label [text]="name"></Label>          
            </template>
        </item-template>
    </ListView>

    <!--<ActivityIndicator [busy]="isLoading" rowSpan="2" colSpan="2"></ActivityIndicator>-->
</GridLayout>
