ListView {
	margin: 5;
	opacity: 0;
}
Label {
	margin: 10;
	horizontal-align: left;
	vertical-align: center;
}
TextField {
	border-width: 5;
	border-style: solid;
	border-color: #034793;
}
Image {
	margin: 10;
}
