#groceryList {
	margin: 5;
	opacity: 0;
}
TextField {
	background-color: white;
}
Label {
	margin: 10;
	horizontal-align: left;
	vertical-align: center;
}
Image {
	margin: 10;
}
.checkbox {
	margin-right: 0;
	margin-top: 5;
	height: 35;
}

.swipe-image-container {
	height: 50;
	width: 60;
}
.swipe-button {
	border-width: 0;
	margin-top: 15;
	height: 20;
}
.delete-button-container {
	background-color: red;
}
.done-button-container {
	background-color: green;
}

#drawer-content {
	background-color: white;
	border-width: 1;
	border-color: #eee;
}
.heading {
	font-weight: bold;
	text-size: 14;
}
.add-button {
	height: 30;
	margin-right: 0;
}
.add-all-button {
	color: white;
	border-width: 0;
}
.fab-button {
	height: 70;
	horizontal-align: right;
	vertical-align: bottom;
}
