#groceryList {
	margin: 5;
	opacity: 0;
}
Label {
	margin: 10;
	horizontal-align: left;
	vertical-align: center;
}
Image {
	margin: 10;
}
.topSection, .addAllButton {
	background-color: #2E6DAD;
}
.checkbox {
	margin-right: 0;
	margin-top: 5;
	height: 35;
}
.deleteButton, .doneButton {
	border-width: 0;
	margin: 0;
	color: white;
	font-size: 10;
}
.deleteButton {
	background-color: red;
}
.doneButton {
	background-color: green;
}
#drawerContent {
	background-color: white;
	border-width: 1;
	border-color: #eee;
}
.heading {
	font-weight: bold;
	text-size: 14;
}
.addButton {
	height: 30;
	margin-right: 0;
}
.addAllButton {
	color: white;
	border-width: 0;
}
