#main-content {
	background-image: url("~/images/sample_bg_inner.jpg");
}

#action-bar-custom {
	color: white;
	padding-top: 26;
	padding-bottom: 16;
	padding-left: 44;
	padding-right: 16;
}
#action-bar-label {
	font-size: 21;
	font-weight: bold;
}

#add-bar {
	background-color: #CB1D00;
	padding-left: 16;
	padding-right: 16;
	height: 50;
}
#add-bar-image {
	height: 15;
	margin-right: 11;
	vertical-align: center;
}
#grocery {
	margin-right: 20;
	horizontal-align: left;
}
#add-bar-recent-label {
	vertical-align: center;
	color: #311217;
}
#add-bar-recent-toggle {
	vertical-align: center;
	color: #311217;
}

.grocery-list-item-container {
	padding-top: 10;
	padding-bottom: 10;
	padding-left: 16;
	background-color: white;
	margin-top: 1;
}
.grocery-list-item-container-done {
	opacity: 0.8;
}
.grocery-list-check-box {
	margin-right: 10;
}
#grocery-list-swipe-button {
	margin-top: 10;
	horizontal-align: center;
}
.line-through {
	text-decoration: line-through;
}

#drawer-content {
	background-color: #311217;
	color: white;
}
.drawer-content-label {
	margin: 16;
	font-weight: bold;
}
