form {
  display: flex;
}
input {
  flex: 5;
  margin-right: 0.5em;
}

hr {
  border: 0;
  border-bottom: solid 1px #c8cccf;
  margin: 3em 0 1em 0;
}

.link-container {
  overflow: hidden;
}
.link-container button {
  float: right;
}
